<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <p>
                <a href="{% url 'update_todolist' todo_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'delete_todolist' todo_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'update_todoitem' todo.id %}">{{ todo.task }}</a>
                        </td>
                        <td>{{ todo.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>